model-viewer {
  position: absolute;
  top: calc(50% - 100px);
  height: 200px;
  width: 100%;
}

body {
  position: relative;
  display: block;
}

.logo-img {
  height: 50px;
  left: 420px;
  position: absolute;
  z-index: 1;
}